/* ---------------------------------------------
Author: Théo de la Hogue
Website: http://theod.fr
-----------------------------------------------*/

body {
    background-color: black;
    opacity: 0;
    margin: 0;
}
body.loaded {
    opacity: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

/********* menu *********/
#menu {
    z-index: 0;
    float: left;
    padding: 0;
}
#background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}
#background img {
    z-index: 1;
    position: absolute;
    padding: 0;
}
#background svg {
    z-index: 2;
    position: relative;
    padding: 0;
}
#background.locked {
    overflow-x: hidden;
    overflow-y: hidden;
}
@media screen and (orientation: landscape) {
#background.unlocked {
    overflow-x: hidden;
    overflow-y: visible;
}
#background img, svg {
    width: 100vw;
    height: auto;
}
}
@media screen and (orientation: portrait) {
#background.unlocked {
    overflow-x: scroll;
    overflow-y: hidden;
}
#background img, svg {
    width: auto;
    height: 100vh;
}
}

.zone path {
    fill: transparent;
    fill-opacity: 0.0;
    transition: fill-opacity 1s;
    -webkit-transition: fill-opacity 1s; /* For Safari 3.1 to 6.0 */
    stroke-width: 2;
    stroke: transparent;
    stroke-opacity: 0.0;
    transition: stroke-opacity 1s;
    -webkit-transition: stroke-opacity 1s; /* For Safari 3.1 to 6.0 */
}
.zone path:hover {
    fill-opacity: 0.3;
    stroke-opacity: 1.0;
}

/********* focus *********/
#focus {
    width: 100%;
    height: 100%;
    padding: 0;
}
#focus img {
    z-index: 3;
    position: absolute;
    padding: 0;
}
@media screen and (orientation: landscape) {
#focus img {
    width: auto;
    height: 100vh;
}
}
@media screen and (orientation: portrait) {
#focus img {
    width: 100vw;
    height: auto;
}
}

/********* info *********/
.info {
    z-index: 4;
    position: fixed;
    background-size: cover;
    background-color: rgb(20, 10, 20); /* fallback */
    background-color: rgba(20, 10, 20, 0.8);
}
@media screen and (orientation: landscape) {
.info {
    width: 65vw;
    height: 100vh;
    top: 0vh;
    left: 35vw;
    padding: 2.5% 5% 0% 5%;
}
}
@media screen and (orientation: portrait) {
.info {
    width: 100vw;
    height: 50vh;
    top: 50vh;
    left: 0vw;
    padding: 5% 10% 0% 10%;
}
}

/********* info h1 *********/
.info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
    margin: 0% 0%;
    padding: 10% 0% 1% 0%;
	font-size: 5.5vh;
    line-height: 5.5vh;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
.info h1 {
    margin: 0% 0%;
    padding: 5% 0% 1% 0%;
	font-size: 4vh;
    line-height: 4vh;
}
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
.info h1 {
    margin: 0% 0%;
    padding: 10% 0% 1% 0%;
	font-size: 5vh;
    line-height: 5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
.info h1 {
    margin: 0% 0%;
    padding: 5% 0% 1% 0%;
	font-size: 4vh;
    line-height: 4vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
.info h1 {
    margin: 0% 0%;
    padding: 10% 0% 1% 0%;
	font-size: 5.5vh;
    line-height: 5.5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
.info h1 {
    margin: 0% 0%;
    padding: 5% 0% 1% 0%;
	font-size: 3.5vh;
    line-height: 3.5vh;
}
}

/********* info h2 *********/
.info h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: lightgray;
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 4vh;
    line-height: 4vh;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
.info h2 {
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 3vh;
    line-height: 3vh;
}
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
.info h2 {
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 4vh;
    line-height: 4vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
.info h2 {
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 3vh;
    line-height: 3vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
.info h2 {
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 4.5vh;
    line-height: 4.5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
.info h2 {
    margin: 0% 0%;
    padding: 0% 0% 0% 0%;
	font-size: 2.3vh;
    line-height: 2.3vh;
}
}

/********* info p *********/
.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    margin: 0% 0%;
    padding: 10% 0%;
	font-size: 4vh;
    line-height: 5vh;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
.info p {
    margin: 0% 0%;
    padding: 5% 0%;
	font-size: 3vh;
    line-height: 3vh;
}
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
.info p {
    margin: 0% 0%;
    padding: 10% 0%;
	font-size: 4vh;
    line-height: 4.5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
.info p {
    margin: 0% 0%;
    padding: 5% 0%;
	font-size: 3vh;
    line-height: 3vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
.info p {
    margin: 0% 0%;
    padding: 10% 0%;
	font-size: 4vh;
    line-height: 5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
.info p {
    margin: 0% 0%;
    padding: 5% 0%;
	font-size: 2.3vh;
    line-height: 2.3vh;
}
}

/********* precedent *********/
.precedent a, 
.precedent a:hover, 
.precedent a:active, 
.precedent a:visited, 
.precedent a:focus,
.suivant a, 
.suivant a:hover, 
.suivant a:active, 
.suivant a:visited, 
.suivant a:focus {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    text-decoration: none;
    font-size: 3.5vh;
    line-height: 2.5vh;
}
.precedent a {
    margin: 0 -3%;
    padding: 0%;
}
.suivant a {
    right: 2%;
    margin: 0%;
    padding: 0%;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
.precedent a,
.suivant a {
    font-size: 2.5vh;
    line-height: 1.5vh;
}
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
.precedent a,
.suivant a {
    font-size: 3.5vh;
    line-height: 2.5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
.precedent a,
.suivant a {
    font-size: 2.5vh;
    line-height: 1.5vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
.precedent a,
.suivant a {
    font-size: 4vh;
    line-height: 3vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
.precedent a,
.suivant a {
    font-size: 2vh;
    line-height: 1vh;
}
}

/********* entretien *********/
.entretien{
    display: none;
}
.entretien a, 
.entretien a:hover, 
.entretien a:active, 
.entretien a:visited, 
.entretien a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-size: 4vh;
    line-height: 4vh;
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
.entretien a {
    margin: 0%;
    padding: 0%;
    font-size: 3.5vh;
    line-height: 3.5vh;
}
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
.entretien a {
    margin: 0%;
    padding: 0%;
    font-size: 4vh;
    line-height: 4vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
.entretien a {
    margin: 0%;
    padding: 0%;
    font-size: 3.5vh;
    line-height: 3.5vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
.entretien a {
    margin: 0%;
    padding: 0%;
    font-size: 5vh;
    line-height: 5vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
.entretien a {
    margin: 0%;
    padding: 0%;
    font-size: 2.5vh;
    line-height: 2.5vh;
}
}

.entretien svg {
    width: 10%;
    height: auto;
    margin: -2% 4% 0% 0%;
    float: left;
}

/********* player *********/
#player {
    display: none;
    z-index: 5;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 10%;
    height: auto;
    padding: 0%;
    margin: 0%;
}
#player svg {
    width: 100%;
    height: auto;
}

/********* à propos *********/
#apropos {
    display: none;
    position: fixed;
    z-index: 6;
    bottom: 5%;
    right: 5%;
    padding: 0;
    margin: 0;
}

#apropos a,
#apropos a:hover,
#apropos a:active,
#apropos a:visited,
#apropos a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    text-decoration: none;
    font-size: 4vh;
    line-height: 4vh;
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
#apropos a {
    font-size: 6vh;
    line-height: 6vh;
}
}
@media screen and (orientation: portrait) and (max-width: 960px) {
#apropos a {
    font-size: 3vh;
    line-height: 3vh;
}
}
@media screen and (orientation: landscape) and (max-width: 960px) {
#apropos a {
    font-size: 6vh;
    line-height: 6vh;
}
}
@media screen and (orientation: portrait) and (max-width: 480px) {
#apropos a {
    font-size: 3vh;
    line-height: 3vh;
}
}