/* ---------------------------------------------
Author: Théo de la Hogue
Website: http://theod.fr
-----------------------------------------------*/
/* ---------------------------------------------
CONTENTS:
menu
tapis-view
tapis-info
-----------------------------------------------*/
/*
 body, html {
	overflow:hidden; 
 }
*/

body {
    background-color: black;
}

/********* menu *********/
#menu {
    z-index: 0;
}
#menu img, svg {
    position: fixed;
    top: 50%;
    bottom: 50%;
    width: 100%;
	height: auto;
    margin: auto;
}
#menu svg {
    z-index: 1;
}
.menu-zone {
    fill: white;
    fill-opacity: 0.0;
    transition: fill-opacity 1s;
    -webkit-transition: fill-opacity 1s; /* For Safari 3.1 to 6.0 */
    stroke-width: 2;
    stroke: grey;
    stroke-opacity: 0.0;
    transition: stroke-opacity 1s;
    -webkit-transition: stroke-opacity 1s; /* For Safari 3.1 to 6.0 */
}
.menu-zone:hover {
    fill-opacity: 0.3;
    stroke-opacity: 1.0;
}

/********* view ********
.tapis-view {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0%;
    margin: 0;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: white;
    background-size: cover;
    background-color: transparent;
}

/********* info ********
.tapis-info {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 2% 5% 10% 5%;
    margin: 0;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: rgba(0.3, 0.3, 0.3, 0.5);
}

.tapis-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size: 3vw;
    color: lightgray;
    line-height: 3vw;
}

.tapis-info p {
    padding: 10% 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 2vw;
    color: lightgray;
    line-height: 2vw;
}

.tapis-retour p, a, a:hover, a:active, a:visited, a:focus  {
    padding: 0% 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 1.5vw;
    color: lightgray;
    line-height: 1.5vw;
}

.tapis-play p, a, a:hover, a:active, a:visited, a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 2vw;
    color: lightgray;
    line-height: 2vw;
    text-decoration: none;
}

.tapis-play svg {
    margin: 2% 4%;
    float: left;
}
    
/********* player ********
#tapis-player-panel {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 3%;
    left: 1%;
}

#tapis-player {
    margin: -2% 0%;
}

#tapis-player-label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size: 1.5vw;
    color: lightgray;
    background-color: rgba(0.3, 0.3, 0.3, 0.5);
}

/********* à propos ********
#tapis-apropos {
    display: fixed;
    z-index: 4;
    bottom: 2%;
    right: 1%;
}

#tapis-apropos p, a, a:hover, a:active, a:visited, a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 2vw;
    color: lightgray;
    line-height: 2vw;
    text-decoration: none;
}
*/