/* ---------------------------------------------
Author: Théo de la Hogue
Website: http://theod.fr
-----------------------------------------------*/

body {
    background-color: rgb(20, 10, 20);
    margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

/********* conseil *********/
#conseil {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
}
#conseil p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
    background-color: rgb(20, 10, 20); /* fallback */
    background-color: rgba(20, 10, 20, 0.8);
    margin: 0%;
}
@media screen and (orientation: landscape) {
#conseil {
    left: 0%;
    bottom: 0%;
}
#conseil p {
    font-size: 3vw;
    padding: 1% 2.5%;
}
}
@media screen and (orientation: portrait) {
#conseil {
    left: 0%;
    bottom: 0%;
}
#conseil p {
    font-size: 3vh;
    padding: 2% 5%;
}
}

/********* menu *********/
#menu {
    z-index: 0;
    opacity: 0;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
}
#menu.loaded {
    opacity: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}
#background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}
#background img {
    z-index: 1;
    position: absolute;
    padding: 0;
}
#background svg {
    z-index: 2;
    position: relative;
    padding: 0;
}
#background.locked {
    overflow-x: hidden;
    overflow-y: hidden;
}
@media screen and (orientation: landscape) {
#background.unlocked {
    overflow-x: hidden;
    overflow-y: visible;
}
#background img, svg {
    width: 100%;
    height: auto;
}
}
@media screen and (orientation: portrait) {
#background.unlocked {
    overflow-x: scroll;
    overflow-y: hidden;
}
#background img, svg {
    width: auto;
    height: 100%;
}
}

.zone path {
    fill: transparent;
    fill-opacity: 0.0;
    transition: fill-opacity 1s;
    -webkit-transition: fill-opacity 1s; /* For Safari 3.1 to 6.0 */
    stroke-width: 2;
    stroke: transparent;
    stroke-opacity: 0.0;
    transition: stroke-opacity 1s;
    -webkit-transition: stroke-opacity 1s; /* For Safari 3.1 to 6.0 */
}
.zone path:hover {
    fill-opacity: 0.3;
    stroke-opacity: 1.0;
}

/********* focus *********/
#focus {
    padding: 0;
    overflow: hidden;
}
#focus img {
    z-index: 3;
    position: absolute;
    overflow: hidden;
    padding: 0;
}
@media screen and (orientation: landscape) {
#focus {
    width: 100%;
    height: auto;
}
#focus img {
    width: auto;
    height: 125%;
}
}
@media screen and (orientation: portrait) {
#focus {
    width: auto;
    height: 100%;
}
#focus img {
    width: 125%;
    height: auto;
}
}

/********* info *********/
.info {
    z-index: 4;
    position: fixed;
    background-color: rgb(20, 10, 20); /* fallback */
    background-color: rgba(20, 10, 20, 0.8);
}
@media screen and (orientation: landscape) {
.info {
    width: 65%;
    height: 100vh;
    top: 0%;
    left: 35%;
    padding: 2.5% 5% 0% 5%;
}
}
@media screen and (orientation: portrait) {
.info {
    width: 100vw;
    height: 55%;
    top: 45%;
    left: 0%;
    padding: 5% 5% 0% 5%;
}
}

/********* info h1 *********/
.info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
    margin: 0% 0%;
}
@media screen and (orientation: landscape) {
.info h1 {
    padding: 5% 0% 0% 0%;
	font-size: 5vw;
    line-height: 1em;
}
}
@media screen and (orientation: portrait) {
.info h1 {
    padding: 6% 0% 0% 0%;
	font-size: 5vh;
    line-height: 1em;
}
}

/********* info h2 *********/
.info h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: lightgray;
    margin: 0% 0%;
}
@media screen and (orientation: landscape) {
.info h2 {
    padding: 0% 0% 0% 0%;
	font-size: 2.6vw;
    line-height: 1em;
}
}
@media screen and (orientation: portrait) {
.info h2 {
    padding: 0% 0% 0% 0%;
	font-size: 2.6vh;
    line-height: 1em;
}
}

/********* info p *********/
.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    margin: 0% 0%;
    padding: 10% 0%;
}
@media screen and (orientation: landscape) {
.info p {
    padding: 5% 13% 5% 0%;
	font-size: 2.6vw;
    line-height: 1.1em;
}
}
@media screen and (orientation: portrait) {
.info p {
    padding: 5% 13% 5% 0%;
	font-size: 2.6vh;
    line-height: 1.1em;
}
}

/********* precedent *********/
.precedent a, 
.precedent a:hover, 
.precedent a:active, 
.precedent a:visited, 
.precedent a:focus,
.suivant a, 
.suivant a:hover, 
.suivant a:active, 
.suivant a:visited, 
.suivant a:focus,
.fermer a, 
.fermer a:hover, 
.fermer a:active, 
.fermer a:visited, 
.fermer a:focus {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: lightgray;
    text-decoration: none;
}
.precedent a {
    bottom: 4%;
    margin: 0 0%;
    padding: 0%;
}
.suivant a {
    bottom: 4%;
    right: 0%;
    margin: 0%;
    padding: 0% 5% 0% 0%;
}
.fermer a {
    right: 0%;
    margin: 0%;
    padding: 0% 4% 0% 0%;
}
@media screen and (orientation: landscape) {
.precedent a, 
.precedent a:hover, 
.precedent a:active, 
.precedent a:visited, 
.precedent a:focus,
.suivant a, 
.suivant a:hover, 
.suivant a:active, 
.suivant a:visited, 
.suivant a:focus,
.fermer a, 
.fermer a:hover, 
.fermer a:active, 
.fermer a:visited, 
.fermer a:focus {
    font-size: 2.4vw;
    line-height: 0em;
}
}
@media screen and (orientation: portrait) {
.precedent a, 
.precedent a:hover, 
.precedent a:active, 
.precedent a:visited, 
.precedent a:focus,
.suivant a, 
.suivant a:hover, 
.suivant a:active, 
.suivant a:visited, 
.suivant a:focus,
.fermer a, 
.fermer a:hover, 
.fermer a:active, 
.fermer a:visited, 
.fermer a:focus {
    font-size: 2.4vh;
    line-height: 0em;
}
}

/********* entretien *********/
.entretien {
    display: none;
}

/********* player *********/
#player {
    display: none;
    z-index: 5;
    position: fixed;
    padding: 0%;
    margin: 0%;
}
@media screen and (orientation: landscape) {
#player {
    bottom: 2vh;
    right: 25vw;
    width: 10%;
    height: auto;
 }   
}
#player svg {
    width: 100%;
    height: auto;
}
@media screen and (orientation: portrait) {
#player {
    bottom: 2vh;
    right: 40vw;
    height: 10%;
    width: auto;
 }
#player svg {
    height: 100%;
    width: auto;
}
}

/********* à propos *********/
#apropos {
    display: none;
    position: fixed;
    z-index: 6;
    bottom: 5%;
    right: 5%;
    padding: 0;
    margin: 0;
}

#apropos a,
#apropos a:hover,
#apropos a:active,
#apropos a:visited,
#apropos a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: lightgray;
    text-decoration: none;
}
@media screen and (orientation: landscape) {
#apropos a {
    font-size: 3vw;
    line-height: 0em;
}
}
@media screen and (orientation: portrait) {
#apropos a {
    font-size: 3vh;
    line-height: 0em;
}
}

/********* about *********/
#about {
    z-index: 4;
    position: absolute;
    background-size: cover;
    background-color: rgb(20, 10, 20);
    width: 100%;
    height: auto;
    padding: 2% 5%;
    overflow: visible;
}
#about h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
}
#about h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    text-align: justify;
}
#about p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
    text-align: justify;
}
@media screen and (orientation: landscape) {
#about h1 {
    padding: 0%;
    font-size: 6vw;
}
#about h2 {
    padding: 2% 0%;
    font-size: 3vw;
}
#about p {
    padding: 0%;
    font-size: 2vw;
}
}
@media screen and (orientation: portrait) {
#about h1 {
    padding: 0%;
    font-size: 4vh;
}
#about h2 {
    padding: 2% 0%;
    font-size: 2.5vh;
}
#about p {
    padding: 0%;
    font-size: 1.5vh;
}
}

/********* retournez à la visite *********/
.retour {
    position: absolute;
    padding: 0% 5% 0% 0%;
}
.retour a, 
.retour a:hover, 
.retour a:active, 
.retour a:visited, 
.retour a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: lightgray;
    text-decoration: none;
}
@media screen and (orientation: landscape) {
.retour {
    right: 0%;
    top: 5vh;
}
.retour a, 
.retour a:hover, 
.retour a:active, 
.retour a:visited, 
.retour a:focus {
    font-size: 2.5vw;
    line-height: 0em;
}
}
@media screen and (orientation: portrait) {
.retour {
    right: 0%;
    top: 2vh;
}
.retour a, 
.retour a:hover, 
.retour a:active, 
.retour a:visited, 
.retour a:focus {
    font-size: 2.5vh;
    line-height: 0em;
}
}
