/* ---------------------------------------------
Author: Théo de la Hogue
Website: http://theod.fr
-----------------------------------------------*/

body {
    margin: 0;
}
body.loaded {
    opacity: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

/********* menu *********/
#menu {
    z-index: 0;
    float: left;
    padding: 0;
}
#background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}
#menu img {
    z-index: 1;
    position: absolute;
    padding: 0;
}
#menu svg {
    z-index: 2;
    position: relative;
    padding: 0;
}
@media screen and (orientation: landscape) {
#background {
    overflow-x: hidden;
    overflow-y: visible;
}
#menu img, svg {
    width: 100vw;
    height: auto;
}
}
@media screen and (orientation: portrait) {
#background {
    overflow-x: scroll;
    overflow-y: hidden;
}
#menu img, svg {
    width: auto;
    height: 100vh;
}
}
.tapis path {
    fill: grey;
    fill-opacity: 0.0;
    transition: fill-opacity 1s;
    -webkit-transition: fill-opacity 1s; /* For Safari 3.1 to 6.0 */
    stroke-width: 2;
    stroke: grey;
    stroke-opacity: 0.0;
    transition: stroke-opacity 1s;
    -webkit-transition: stroke-opacity 1s; /* For Safari 3.1 to 6.0 */
}
.tapis path:hover {
    fill-opacity: 0.3;
    stroke-opacity: 1.0;
}

/********* view *********/
#view {
    display: none;
    z-index: 3;
    position: fixed;
    background-size: cover;
    background-color: transparent;
}
@media screen and (orientation: landscape) {
#view {
    width: 50vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
}
}
@media screen and (orientation: portrait) {
#view {
    width: 100vw;
    height: 50vh;
    top: 0vh;
    left: 0vw;
}
}

/********* info *********/
.info {
    display: none;
    z-index: 3;
    position: fixed;
    padding: 2% 5% 10% 5%;
    background-size: cover;
    background-color: rgba(0.3, 0.3, 0.3, 0.5);
}
@media screen and (orientation: landscape) {
.info {
    width: 50vw;
    height: 100vh;
    top: 0vh;
    left: 50vw;
}
}
@media screen and (orientation: portrait) {
.info {
    width: 100vw;
    height: 50vh;
    top: 50vh;
    left: 0vw;
}
}

/********* info h1 *********/
.info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: lightgray;
}
@media screen and (orientation: landscape) {
.info h1 {
	font-size: 3vw;
    line-height: 3vw;
}
}
@media screen and (orientation: portrait) {
.info h1 {
	font-size: 8vw;
    line-height: 8vw;
}
}

/********* info p *********/
.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightgray;
}
@media screen and (orientation: landscape) {
.info p {
    padding: 10% 0%;
	font-size: 2vw;
    line-height: 2vw;
}
}
@media screen and (orientation: portrait) {
.info p {
    padding: 5% 0%;
	font-size: 5vw;
    line-height: 5vw;
}
}

/********* retour *********/
.retour p, a, a:hover, a:active, a:visited, a:focus  {
    padding: 0% 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 1.5vw;
    color: lightgray;
    line-height: 1.5vw;
}

/********* entretien *********/
.entretien p, a, a:hover, a:active, a:visited, a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 2vw;
    color: lightgray;
    line-height: 2vw;
    text-decoration: none;
}

.entretien svg {
    width: 10%;
    height: auto;
    margin: 2% 4%;
    float: left;
}
    
/********* player *********/
#player-panel {
    display: none;
    position: fixed;
    z-index: 3;
    top: 3%;
    left: 1%;
}

#player {
    width: 10%;
    height: auto;
    margin: -2% 0%;
}

#player svg {
    width: 500%;
    height: auto;
}

#player-label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size: 1.5vw;
    color: lightgray;
    background-color: rgba(0.3, 0.3, 0.3, 0.5);
}

/********* à propos ********
#tapis-apropos {
    display: fixed;
    z-index: 4;
    bottom: 2%;
    right: 1%;
}

#tapis-apropos p, a, a:hover, a:active, a:visited, a:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	font-size: 2vw;
    color: lightgray;
    line-height: 2vw;
    text-decoration: none;
}
*/